.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 196px;
  height: 60px;
}

.nav__links {
  display: flex;
  margin-top: 8px;
  column-gap: 20px;
  align-items: center;
  padding: 0px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  display: flex;
  max-width: 544px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 0;
}

.header__description {
  display: flex;
  max-width: 532px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 135px;
  right: 20px;
}

.header__image_element {
  max-width: 636px;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  margin-top: 60px;
  color: #2f80ed;
  text-decoration: none;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  position: absolute;
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  bottom: 18px;
  right: 216px;
}

.person_name_mitchell {
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.staff {
  padding: 100px 0 140px;
  background-image: url(../images/staff_picks_background.jpg);
  background-size: contain;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.staff__ul-container {
  max-width: 760px;
  margin: 68px auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
  overflow: hidden;
  white-space: wrap;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
}

.membership {
  padding: 100px 0 140px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 150px 0px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 40px;
}

.step {
  max-width: 220px;
  flex-wrap: wrap;
  flex-basis: auto;
}

.step__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.step__title {
  margin: 0;
  padding: 0 117px 0 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin: 10px 0 0;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  max-width: 154px;
  position: relative;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 400px;
  bottom: 234px;
  z-index: 2;
}

.about__paragraph {
  margin: 0 0 32px;
  column-gap: 32px;
  z-index: 1;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: relative;
  top: -250px;
  left: -125px;
  z-index: 0;
}

.footer {
  box-sizing: border-box;
}

.footer__columns {
}

.footer__column_content_hours {
}

.footer__column_content_social {
}

.footer__logo {
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
}

.footer__column-heading {
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-icon {
}

.footer__copyright {
}
